replicaCount: 1

image:
  repository: "118146679784.dkr.ecr.eu-west-1.amazonaws.com/collate/ai-proxy"
  tag: ""
  pullPolicy: IfNotPresent

region: ""

collate:
  hostAndPort: ""

config:
  validation:
    maxUserMessageChars: 8000
  llmProvider:
    type: "bedrock"
    model: "anthropic.claude-sonnet-4-5-20250929-v1:0"
    maxIteration: 30
    dynamicMaxIterations: 50
    openAI:
      apiKey: ""
      baseUrl: "https://api.openai.com"
      chatCompletionsPath: "/v1/chat/completions"
      responsesAPIPath: "/v1/responses"
      embeddingsPath: "/v1/embeddings"
      moderationsPath: "/v1/moderations"
      azureOpenAI:
        enabled: false
        apiVersion: ""
        deploymentName: ""
        resourceName: ""
    anthropic:
      apiKey: ""
      baseUrl: "https://api.anthropic.com"
      apiVersion: "2023-06-01"
    google:
      apiKey: ""
      baseUrl: "https://generativelanguage.googleapis.com"
    bedrock:
      awsAccessKeyId: ""
      awsSecretAccessKey: ""
      awsRegion: ""
      awsSessionToken: ""
      baseUrl: ""
      enableLogging: false
      requestTimeoutMillis: 900000
      connectTimeoutMillis: 900000
      socketTimeoutMillis: 900000
    ollama:
      baseUrl: "http://localhost:11434"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

commonLabels: {}
podLabels: {}
podAnnotations: {}

podSecurityContext: {}
securityContext: {}

service:
  type: ClusterIP
  annotations: {}
  ports:
    http: 9595
    httpAdmin: 9596
    grpc: 50051
    metrics: 9464

envFrom: []
extraEnvs: []

tolerations: []
nodeSelector: {}
affinity: {}

resources:
  limits:
    memory: 2Gi
  requests:
    cpu: 300m
    memory: 2Gi

livenessProbe:
  enabled: true
  httpGet:
    path: /healthcheck
    port: http-admin
  initialDelaySeconds: 60

readinessProbe:
  enabled: false

serviceMonitor:
  enabled: false
  interval: 30s
  annotations: {}
  labels: {}

volumes: []
volumeMounts: []
